<div class="text-white" *ngIf="chatroom$ | async as chatroom">
	<div>
		<app-chatroom-dropdown 
			[participants]="this.chatroom.participants"
			[participantsId]="this.chatroom.participantsId"
			[chatroomId]="chatroom.id"
		></app-chatroom-dropdown>
		<h1>{{chatroom.chatroomName}}</h1>
		<button (click)="openModalMenu()">Modal_Menu</button>
		<button (click)="onExitingChatroomSession()">X</button>
	</div>
	
	<app-modal class="text-black" [showModal]="showModalMenu" (onClose)="closeModalMenu()">
		<div>
			<div *ngIf="isUserAnOwner()">
				<span>Password Protected Chatroom</span>
				<input
            		id="link-checkbox"
            		type="checkbox"
            		[checked]="passwordProtected"
            		class="w-4 h-4 rounded accent-[#ffc93b] cursor-pointer"
					(change)="onTogglePasswordChange($event)"
          		/>
				<div *ngIf="passwordProtected">
					<div *ngIf="passwordPresent">
						<div *ngIf="!showChangePasswordForm">
							<button (click)="changePasswordFormDisplayStatus()">Change Password ?</button>
						</div>
						<div *ngIf="showChangePasswordForm">
							<div class="flex flex-col justify-center items-center bg-white text-black">
								<form [formGroup]="modifyPasswordForm" (ngSubmit)="changePassword()">
									<div class="mb-4">
										<label class="block">Old Password</label>
										<input type="password" formControlName="oldPassword" 
										class="w-full px-3 py-2 border rounded">
									</div>
									<div class="mb-4">
										<label class="block">New Password</label>
										<input type="password" formControlName="newPassword" 
										class="w-full px-3 py-2 border rounded">
									</div>
									<div class="mb-4">
										<label class="block">Confirm New Password</label>
										<input type="password" formControlName="newPasswordVerif" 
										class="w-full px-3 py-2 border rounded">
									</div>
									<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">
										Change Password
									</button>
								</form>
							</div>
						</div>
					</div>
					<div *ngIf="!passwordPresent">
						<div class="flex flex-col justify-center items-center bg-white text-black">
							<form [formGroup]="setPasswordForm" (ngSubmit)="addPassword()">
								<div class="mb-4">
									<label class="block">Password</label>
									<input type="password" formControlName="password" 
									class="w-full px-3 py-2 border rounded">
								</div>
								<div class="mb-4">
									<label class="block">Confirm Password</label>
									<input type="password" formControlName="passwordVerif" 
									class="w-full px-3 py-2 border rounded">
								</div>
								<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">
									Add Password
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<button (click)="removeYourselfFromChatroom()">Remove Yourself From Chatroom</button>
		</div>
	</app-modal>
</div>
