<app-header-lp></app-header-lp>
<div class="bg-black h-screen">
  
  <div class="flex justify-center items-center flex-col">
    <div class="flex flex-col items-center justify-center m-8">
      <h1 class="text-white text-4xl m-4">FT_TRANSCENDENCE</h1>
      <h2 class="text-white text-2xl m-4">A Complete Pong Game</h2>
    </div>
    <div class="flex justify-center">
      <img
        class="h-72 p-0"
        src="../../../assets/imgs/pong_logo_2.webp"
        alt="pong logo"
      />
    </div>
    <div class="flex justify-center m-8">
      <button
        (click)="onConnect()"
        type="button"
        class="rounded-full border border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-32 
        hover:bg-white hover:text-yellow-500 ease-in duration-300"
      >
        START !
      </button>
    </div>
  </div>
</div>
