<div class="mt-8 w-full" *ngIf="stats | async as user_stats">
  <div class="flex flex-row bg-zinc-900 p-4 rounded-md justify-around">
    <div class="flex flex-col">
      <span class="text-xl font-medium">{{ user_stats.wins || 0 }}</span>
      <span class="text-sm text-zinc-500 font-medium">Wins</span>
    </div>
    <div class="flex flex-col">
      <span class="text-xl font-medium">{{ user_stats.losses || 0 }}</span>
      <span class="text-sm text-zinc-500 font-medium">Defeats</span>
    </div>
    <div class="flex flex-col">
      <span class="text-xl font-medium">{{ user_stats.win_ratio || 0 }}</span>
      <span class="text-sm text-zinc-500 font-medium">Ratio</span>
    </div>
    <div class="flex flex-col">
      <span class="text-xl font-medium">{{ user_stats.games_played || 0 }}</span>
      <span class="text-sm text-zinc-500 font-medium">Games</span>
    </div>
  </div>
</div>
