<div class="flex flex-col w-screen bg-black text-white">
  <app-separator-line></app-separator-line>
  <div class="flex w-screen justify-center mb-8">
    <h2 class="text-3xl">INFORMATION AND SECURITY</h2>
  </div>
  <div class="flex flex-col w-screen items-center justify-center text-xl">
    <div class="flex justify-between w-2/5 mb-4">
      <p>Enable Two-Factor Authentication</p>
      <app-checkbox></app-checkbox>
    </div>
    <div class="flex justify-between w-2/5 mb-4">
      <p>Password</p>
      <button
        (click)="onClickOnEditPassword()"
        class="text-yellow-500 hover:underline text-lg"
      >
        Edit
      </button>
    </div>
    <div class="flex justify-between w-2/5 mb-4">
      <p>Profile Picture</p>
      <button
        (click)="onClickOnEditPic()"
        class="text-yellow-500 hover:underline text-lg"
      >
        Edit
      </button>
    </div>
    <div class="flex justify-between w-2/5">
      <p class="">Phone Number</p>
      <button
        (click)="onClickOnEditNumber()"
        class="text-yellow-500 hover:underline text-lg"
      >
        Edit
      </button>
    </div>
  </div>
  <app-separator-line></app-separator-line>
</div>
