<!-- <app-header></app-header> -->
<div class="bg-black w-full text-white">
	<div class="flex items-center flex-col justify-center text-white p-8">
    	<div>
      		<h1 class="text-5xl">DIRECT MESSAGES</h1>
    	</div>
    	<div>
      		<button (click)="onClickOnCreateDMSession()">New Conversation</button>
    	</div>
  	</div>
  	<div class="grid lg:grid-cols-2">
    	<app-direct-messages></app-direct-messages>
  	</div>

	<app-modal class="text-black" [showModal]="isModalOpen" (onClose)="closeModal()">
		<h2 class="mb-4 text-xl font-semibold">Select a Player</h2>
		<app-direct-message-dropdown [users]="users"(userClicked)="fillForm($event)" ></app-direct-message-dropdown>
	</app-modal>
	
	<app-dm-handler></app-dm-handler>
</div>
