<div class="mt-4">
  <div class="max-w-3xl inline-flex items-center w-full">
    <hr class="w-screen m-8" />
    <span class="absolute px-3 font-medium bg-black -translate-x-1/2 left-1/2"
      >INFORMATION AND SECURITY</span
    >
  </div>
  <div class="max-w-2xl mx-auto">
    <ul class="flex flex-col items-center space-y-4">
      <li
        class="flex flex-row justify-between items-center w-3/4 mx-auto bg-zinc-900 hover:bg-zinc-800 transform duration-200 p-5 rounded"
      >
        <p class="space-x-3 flex items-baseline">
          <i class="fa-solid fa-shield-halved"></i>
          <span>Enable Two-Factor Authentification</span>
        </p>
        <label class="relative inline-flex items-center cursor-pointer">
          <input
            id="link-checkbox"
            type="checkbox"
            value=""
            class="sr-only peer"
            (change)="onToggleTwoFactorAuth($event)"
          />
          <div
            class="w-11 h-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-transparent rounded-full peer bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-500"
          ></div>
        </label>
      </li>
      <li
        class="flex flex-row justify-between items-center w-3/4 mx-auto bg-zinc-900 hover:bg-zinc-800 transform duration-200 p-5 rounded"
      >
        <p class="space-x-3 flex items-baseline">
          <i class="fa-solid fa-lock"></i>
          <span class="">Password</span>
        </p>
        <button (click)="openModalPassword()" class="text-[#ffc93b] underline">
          Edit
        </button>
      </li>
      <li
        class="flex flex-row justify-between items-center w-3/4 mx-auto bg-zinc-900 hover:bg-zinc-800 transform duration-200 p-5 rounded"
      >
        <p class="space-x-3 flex items-baseline">
          <i class="fa-solid fa-user"></i>
          <span class="">Profile Picture</span>
        </p>
        <button (click)="openModalPic()" class="text-[#ffc93b] underline">
          Edit
        </button>
      </li>
      <li
        class="flex flex-row justify-between items-center w-3/4 mx-auto bg-zinc-900 hover:bg-zinc-800 transform duration-200 p-5 rounded"
      >
        <p class="space-x-3 flex items-baseline">
          <i class="fa-solid fa-phone"></i>
          <span class="">Phone Number</span>
        </p>
        <button (click)="openModalTel()" class="text-[#ffc93b] underline">
          Edit
        </button>
      </li>
    </ul>
  </div>

  <app-modal [showModal]="showModalPassword" (onClose)="closeModalPassword()">
  		<div class="flex flex-col justify-center items-center bg-white text-black">
    		<form [formGroup]="passwordForm" (ngSubmit)="onClickEditPassword()">
      		<div class="mb-4">
        		<label class="block">Old Password</label>
        		<input type="password" formControlName="oldPassword" class="w-full px-3 py-2 border rounded">
      		</div>
      		<div class="mb-4">
        		<label class="block">New Password</label>
        		<input type="password" formControlName="newPassword" class="w-full px-3 py-2 border rounded">
	  		</div>
      		<div class="mb-4">
        		<label class="block">Confirm New Password</label>
        		<input type="password" formControlName="newPassword2" class="w-full px-3 py-2 border rounded">
      		</div>
      		<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">Change Password</button>
    		</form>
  		</div>
	</app-modal>

	<app-modal [showModal]="showModalPic" (onClose)="closeModalPic()">
		<div class="flex flex-col justify-center items-center bg-white text-black">
    		<form [formGroup]="picForm" (ngSubmit)="onClickEditPic()">
      		<div class="mb-4">
        		<label class="block">New Profile Picture URL</label>
        		<input type="url" formControlName="newPicURL" class="w-full px-3 py-2 border rounded">
      		</div>
      		<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">Change Profile Picture</button>
    		</form>
  		</div>
	</app-modal>
	
	<app-modal [showModal]="showModalTel" (onClose)="closeModalTel()">
		<div class="flex flex-col justify-center items-center bg-white text-black">
    		<form [formGroup]="telForm" (ngSubmit)="onClickEditNumber()">
      		<div class="mb-4">
        		<label class="block">New Phone Number</label>
        		<input type="tel" formControlName="newPhone" class="w-full px-3 py-2 border rounded">
      		</div>
      		<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">Change Phone Number</button>
    		</form>
  		</div>
	</app-modal>

	<app-modal [showModal]="showModal2FA" (onClose)="closeModal2FA()">
		<div class="flex flex-col justify-center items-center bg-white text-black">
			<img [src]="twoFactorAuthQR">
		</div>
	</app-modal>
</div>
