<div class="relative flex justify-center m-8">
    <button
          type="button"
          (click)="toggleDropdown()"
          class="rounded-full border-2 border-black bg-black text-white text-2xl h-12 w-48 
          hover:bg-white hover:text-yellow-500 ease-in duration-300">
        Participants
    </button>

    <!-- Dropdown -->
    <div *ngIf="isOpen" class="absolute top-full mt-2 w-64 bg-white shadow-lg rounded border z-99 max-h-96 overflow-y-auto">
		<div *ngFor="let participant of participants; let i = index" class="border-b last:border-b-0">
			<div class="flex flex-col p-2 hover:bg-gray-100">
				<p class="font-bold mb-2 text-center">{{ participant.username }}</p>
				
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="seeUserProfile(participant.id)">See Profile</button>
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="invitePong(participant.id)">Play Pong</button>
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="makeAdmin(participant.id)">Make Administrator</button>
				
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="kickUser(participant.id)">Kick</button>
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="openModalBan(participant.id)">Ban</button>
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="openModalMute(participant.id)">Mute</button>
				
				<button class="w-full bg-gray-200 hover:bg-gray-300 rounded my-1 py-1" (click)="blockUser(participant.id)">Block</button>
			</div>
		</div>
	</div>				
</div>

<app-modal [showModal]="isModalMuteOpen" (onClose)="closeModalMute()">
	<div class="flex flex-col justify-center items-center bg-white text-black">
		<form [formGroup]="durationMuteForm" (ngSubmit)="handleMute()">
			<div class="mb-4">
				<label class="block">Duration in seconds</label>
				<input type="number" formControlName="durationMute" class="w-full px-3 py-2 border rounded">
			</div>
			<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">Submit</button>
		</form>
	</div>
</app-modal>

<app-modal [showModal]="isModalBanOpen" (onClose)="closeModalBan()">
	<div class="flex flex-col justify-center items-center bg-white text-black">
		<form [formGroup]="durationBanForm" (ngSubmit)="handleBan()">
			<div class="mb-4">
				<label class="block">Duration in seconds</label>
				<input type="number" formControlName="durationBan" class="w-full px-3 py-2 border rounded">
			</div>
			<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">Submit</button>
		</form>
	</div>
</app-modal>
