<div>
	<button (click)="toggleDropdown()">Participants</button>

  	<div *ngIf="isOpen">
		<div *ngFor="let participant of participants; let i = index">
			<p>{{ participant }}</p>
			<button (click)="seeUserProfile(participantsId[i])">See Profile</button>
			<div *ngIf="isAllowedToElevateToAdmin(participantsId[i])">
				<button (click)="makeAdmin(participantsId[i])">Make Administrator</button>
			</div>
			<div *ngIf="isAllowedToCoerce(participantsId[i])">
				<button (click)="kickUser(participantsId[i])">Kick</button>
				<button (click)="banUser(participantsId[i])">Ban</button>
				<button (click)="muteUser(participantsId[i])">Mute</button>
			</div>
			<div>
				<button (click)="blockUser(participantsId[i])"></button>
			</div>
		</div>
	</div>
</div>
