<app-header></app-header>
<!-- Display when matchmaking process has been completed -->
<div *ngIf="players$ | async as players; else standby" class="flex flex-col h-screen">
    <!-- Remaining space after the header -->
    <div *ngIf="players" class="text-white flex-grow flex items-center justify-center">
        <div class="text-center">
            <div class="text-8xl mx-auto">
                <p>{{this.players[0]}}</p>
            </div>
            <p class="text-6xl pt-8 pb-8 mx-auto">VS</p>
            <div class="text-8xl mx-auto">
                <p>{{this.players[1]}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Display when matchmaking process is currently proceed -->
<ng-template #standby>
	<div class="flex justify-center items-center h-screen w-screen text-white">
	  	<p class="text-6xl">{{ this.loadingMessage }}</p>
	</div>
</ng-template>
