<app-header></app-header>
<!-- Display when matchmaking process has been completed -->
<div *ngIf="players$ | async as players; else standby" class="text-white">
	<div *ngIf="players">
		<div>
			<p> {{ players[0].username }}</p>
		</div>
		<p>VS</p>
		<div>
			<p> {{ players[1].username }}</p>
		</div>
	</div>
</div>

<!-- Display when matchmaking process is currently proceed -->
<ng-template #standby>
	<div class="flex justify-center items-center h-screen w-screen text-white">
	  	<p class="text-6xl">{{ this.loadingMessage }}</p>
	</div>
</ng-template>
