<div class="text-white" *ngIf="participants$ | async as participants">
	<div class="flex items-center justify-between h-16 bg-white text-black space-x-4">
		<div class="text-4xl pl-8">
			<h1>Messages with {{participants.participants[1].username}} </h1>
		</div>
		<!-- open the modal for invites -->
		<div class="flex">
            <button
                  type="button"
                  (click)="onOpenInviteMenu()"
                  class="rounded-full border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-48 
                  hover:bg-white hover:text-yellow-500 ease-in duration-300">
                Play Pong
            </button>
        </div>
		<!-- quit DM session -->
		<div class="flex pr-8">
            <button
                  type="button"
                  (click)="onQuitDMSession()"
                  class="rounded-full border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-48 
                  hover:bg-white hover:text-yellow-500 ease-in duration-300">
                Quit
            </button>
        </div>
	</div>
</div>

<app-modal class="text-black" [showModal]="isModalInviteOpen" (onClose)="closeInviteModal()">
    <div class="flex flex-col items-center justify-center space-y-2 h-full">
        <p class="text-center">Invitation has been sent !!!</p>
        <p class="text-center">Do not close this window !!!</p>
        <p class="text-center">You will be automatically redirected when the invite will be accepted</p>
    </div>
</app-modal>


<app-modal class="text-black" [showModal]="isModalAcceptOpen" (onClose)="closeAcceptModal()">
	<button (click)="acceptInvite()"></button>
	<button (click)="refuseInvite()"></button>
</app-modal>
