<div class="bg-black text-white h-screen">
  <app-header></app-header>
  <div class="flex justify-center items-center flex-col">
    <div class="flex flex-col items-center justify-center m-8">
      <h1 class="text-4xl m-4">FT_TRANSCENDENCE</h1>
      <h2 class="text-2xl m-4">A Complete Pong Game</h2>
    </div>
    <div
      class="flex flex-row w-11/12 justify-between items-center bg-zinc-800 p-4 rounded"
    >
      <div class="flex flex-col items-center space-y-1">
        <h3
          class="text-xl font-medium transform duration-200"
          [class.text-yellow-400]="isBallInReadyZone"
        >
          Player One
        </h3>
        <i
          class="fa-solid fa-right-left text-sm text-zinc-200 transform rotate-90"
        ></i>
      </div>
      <h3 class="text-zinc-400 font-medium transform duration-200">VS</h3>
      <div class="flex flex-col items-center space-y-1">
        <h3
          class="text-xl font-medium transform duration-200"
          [class.text-yellow-400]="isBallInPongZone"
        >
          Player Two
        </h3>
        <span class="text-zinc-200 font-medium">w/s</span>
      </div>
    </div>

    <canvas class="mt-4" #canvas></canvas>

    <div class="flex justify-center m-8">
      <button
        type="button"
        class="rounded-full border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-48 hover:bg-white hover:text-yellow-500 ease-in duration-300"
      >
        Play A Game !
      </button>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
