<li
	class="flex flex-row justify-between items-center bg-zinc-900 
				hover:bg-zinc-800 transform duration-200 p-5 rounded w-full"
>	
	<div class="w-full text-xl">
		<p>{{ matchHistoryElem.my_username }}</p>
	</div>
	<div class="w-full text-2xl">
		<p>VS</p>
	</div>
	<div class="w-full text-xl">
		<p>{{ matchHistoryElem.opponent_username }}</p>
	</div>
	<div class="w-full text-xl">
		<p>You are : </p>
		<div *ngIf="matchHistoryElem.winner_username === matchHistoryElem.my_username">
			<p>The winner</p>
		</div>
		<div *ngIf="matchHistoryElem.winner_username === matchHistoryElem.opponent_username">
			<p>The Loser</p>
		</div>
	</div>
</li>
