<div class="text-white">
	<p>Opponent : </p>
	<p>{{ matchHistoryElem.opponentPseudo }}</p>
	<div *ngIf="matchHistoryElem.opponentStatus === 'online'">
		<p>Status : Online 🟢</p>
	</div>
	<div *ngIf="matchHistoryElem.opponentStatus === 'offline'">
		<p>Status : Offline 🔴</p>
	</div>
	<div *ngIf="matchHistoryElem.opponentStatus === 'in a game'">
		<p>Status : In a Game 🟠</p>
	</div>
	<button (click)="goToOpponentProfile(matchHistoryElem.opponentId)">See Profile</button>
	<div>
		<p>Result : </p>
		<p>{{ matchHistoryElem.yourScore }} - {{ matchHistoryElem.opponentScore }}</p>
	</div>
</div>
