<app-header></app-header>

<div class="flex flex-col justify-center items-center min-h-screen text-gray-200 bg-black mx-auto max-w-5xl">
  
    <div class="mt-4 space-y-4"> 
        
        <div class="max-w-3xl inline-flex items-center">
            <hr class="w-screen m-8" />
            <span class="absolute px-3 font-medium bg-black -translate-x-1/2 left-1/2">FRIENDS</span>
        </div>
        
        <div class="flex justify-center m-8 pb-8">
            <button type="button" (click)="openModal()" class="rounded-full border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-48 hover:bg-white hover:text-yellow-500 ease-in duration-300">
                Add Friend
            </button>
        </div>

         <app-friends></app-friends>
    
	</div>
  
    <app-modal class="text-black" [showModal]="modalIsOpen" (onClose)="closeModal()">
        <h2 class="mb-4 text-xl font-semibold">Select a Player</h2>
        <app-dropdown-users [users]="users" (userClicked)="fillForm($event)"></app-dropdown-users>
    </app-modal>
    
    <app-friends-handler></app-friends-handler>
  
</div>
