<header
  *ngIf="user$ | async as user"
  class="flex justify-between items-center bg-yellow-500 fixed top-0 left-0 
  right-0 z-50 py-4 min-w-max h-28 py-4 px-8"
>
	<div class="flex-shrink-0 mr-12">
    	<img
      		[ngClass]="{ 'fixed top-4 left-8': isMenuOpen }"
      		class="h-16"
      		src="../../../assets/imgs/42_Logo.png"
      		alt="42 logo"
    	/>
  	</div>

	<!-- for big screens   -->
	<nav class="hidden lg:flex space-x-4 items-center flex-grow justify-between">
		<button
			(click)="onClickPlay()"
			class="rounded-full border border-2 border-black bg-black text-white text-2xl h-12 w-32 
			hover:bg-white hover:text-black ease-in duration-300"
		> PLAY
		</button>
		<button
			(click)="onClickOnChatrooms()"
			class="hover:underline hover:cursor-pointer text-2xl"
		>
			Chatrooms
		</button>
		<button
			(click)="onClickOnMessages()"
			class="hover:underline hover:cursor-pointer text-2xl"
		>
			Messages
		</button>
		<button
			(click)="onClickOnFriends()"
			class="hover:underline hover:cursor-pointer text-2xl"
		>
			Friends
		</button>
		<div class="flex justify-center align-items">
			<button class="self-end">
				<img
					(click)="onClickOnProfilePicture()"
					style="max-height:100px;max-width:100px;height:auto;width:auto"
					class="object-cover rounded-full hover:cursor-pointer"
					[src]="user.profile_picture_url"
					[title]="user.username"
					alt="profile picture"
				/>
			</button>
		</div>
	</nav>

	<!-- toggle button for navbar for mobile size screens -->
	<div class="flex-shrink-0 lg:hidden">
        <button class="block text-white focus:outline-none text-3xl" (click)="toggleMenu()">
            <i class="fas fa-bars"></i>
        </button>
    </div>

	<!-- navbar for mobile devices -->
	<nav [ngClass]="{ 'hidden': !isMenuOpen }" 
		class="lg:hidden fixed top-16 left-0 right-0 bg-yellow-500 flex flex-col space-y-4 p-4">
        <button
			(click)="onClickPlay()"
			class="w-full text-center rounded-full border border-2 border-black bg-black text-white text-2xl h-12 
    		hover:bg-white hover:text-black ease-in duration-300"
		> PLAY
		</button>
		<button
			(click)="onClickOnChatrooms()"
			class="hover:underline hover:cursor-pointer"
		>
			Chatrooms
		</button>
		<button
			(click)="onClickOnMessages()"
			class="hover:underline hover:cursor-pointer"
		>
			Messages
		</button>
		<button
			(click)="onClickOnFriends()"
			class="hover:underline hover:cursor-pointer"
		>
			Friends
		</button>
		<div class="flex flex-col items-center justify-center">
			<img
				(click)="onClickOnProfilePicture()"
				style="max-height:100px;max-width:100px;height:auto;width:auto"
				class="m-0 p-0 mx-auto block object-cover rounded-full hover:cursor-pointer"
				[src]="user.profile_picture_url"
				alt="profile picture"
			/>
		</div>
    </nav>
</header>
