<app-header></app-header>
<div
	class="flex flex-col justify-center items-center text-center text-gray-200 bg-black mx-auto max-w-5xl pt-32"
>
	<app-profile-badge 
		[userId]="idOfUserProfile" 
		[buttonText]="'Match History'" 
		(buttonAction)="goToGameHistory()">
	</app-profile-badge>
	<div *ngIf="userBlocked">
		<button (click)="unblockUser()">Unblock</button>
	</div>
	<div *ngIf="!userBlocked">
		<button (click)="blockUser()">Block</button>
	</div>
	<app-stats [userId]="idOfUserProfile"></app-stats>
	<app-friends [userId]="idOfUserProfile"></app-friends>
  	<app-achievements [userId]="idOfUserProfile"></app-achievements>
</div>
