<header class="flex justify-between items-center bg-yellow-500 h-24
	fixed top-0 left-0 right-0 z-50">
	<div class="flex items-center w-2/12">
		<img class="h-24 m-3" src="../../../assets/imgs/42_Logo.png" alt="42 logo">
	</div>
	<div class="flex justify-around items-center w-8/12">
		<div class="flex justify-center w-4/12">
			<app-custom-button (onClick)="onClickPlay()" [title]="'PLAY'"></app-custom-button>
		</div>
		<div class="flex w-8/12 justify-around text-2xl">
			<button (click)="onClickOnChatrooms()" class="hover:underline hover:cursor-pointer">Chatrooms</button>
			<button (click)="onClickOnMessages()" class="hover:underline hover:cursor-pointer">Messages</button>
			<button (click)="onClickOnFriends()" class="hover:underline hover:cursor-pointer">Friends</button>
		</div>
	</div>
	<div class="w-2/12 flex justify-end">
		<div class="w-24 h-24 p-3">
			<img (click)="onClickOnProfilePicture()" class="object-cover w-full h-full rounded-full hover:cursor-pointer" 
			[src]="this.user.profileImageURL" alt="profile picture">
		</div>
	</div>
</header>
