<app-header></app-header>
<div class="text-white w-full flex flex-col items-center pt-32">
	<div class="max-w-3xl flex items-center w-full pb-8">
    	<hr class="w-screen m-8" />
    	<span class="absolute px-3 font-medium bg-black -translate-x-1/2 left-1/2"
      		>GAME MENU</span
    	>
  	</div>
  	<div class="max-w-4xl flex flex-col align-items justify-center items-center w-full">
    	<ul class="flex flex-col items-center space-y-4 w-full">
      	<ng-container *ngFor="let mode of gameModes; let i = index">
        	<li
          		class="flex flex-row justify-between items-center w-3/4 mx-auto bg-zinc-900 
				hover:bg-zinc-800 transform duration-200 p-5 rounded"
          		[class.bg-zinc-800]="selectedMode === i"
          		(click)="onLiClick(i)"
        	>
				<div>
					<p class="space-x-3 flex items-baseline">
						<i [class]="mode.iconClass"></i>
						<span>{{ mode.name }}</span>
					</p>
					<p class="w-3/4 text-sm text-zinc-400 mt-2">
						{{ mode.description }}
					</p>
				</div>
				<label class="relative inline-flex items-center cursor-pointer">
					<input
						type="checkbox"
						[checked]="selectedMode === i"
						(change)="onApplyMode(i)"
					/>
				</label>
        	</li>
      	</ng-container>
    	</ul>
		<div class="flex justify-center m-8 pb-8">
			<button
				  type="button"
				  (click)="onClickStart()"
				  class="rounded-full border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-48 
				  hover:bg-white hover:text-yellow-500 ease-in duration-300"
			>
				PLAY
			</button>
		</div>
  	</div>
</div>
