<div class="text-white">
	<h1>MAIN MENU</h1>
	<!-- put separator line there, like in Figma -->
	<p>Apply Chaos Mode</p>
	<p>Very fun mode that add randomness when the ball collides with the borders or the paddles</p>
	<app-checkbox (checkboxChange)="onApplyChaosPhysics($event)"></app-checkbox>
	<p>Apply Mort Subite Mode</p>
	<p>The first player that score wins. As simple as that</p>
	<app-checkbox (checkboxChange)="onApplyMortSubite($event)"></app-checkbox>
	<p>Apply Two Points Appart Mode</p>
	<p>You need to 1) reach the score of 12 and 2) have a difference of 2 points between you and your opponent</p>
	<app-checkbox (checkboxChange)="onApplyTwoPoints($event)"></app-checkbox>

	<app-custom-button (onClick)="onClickStart()" [title]="'PLAY'"></app-custom-button>

	<button (click)="onClickSpectator()">Spectator Mode</button>
</div>
