<div class="bg-black w-full flex justify-center text-white text-3xl">
	<div class="py-8 w-4/5">
		<div class="flex flex-col justify-center items-center">
			<div class="flex p-4 mb-8">
				<h1 class="text-4xl">STATS</h1>
			</div>
			<div class="flex w-4/5 border border-white"></div>
			<div class="flex justify-between w-4/5 p-4">
				<p>Victories</p>
				<p>{{this.stats.victories}}</p>
			</div>
			<div class="flex w-4/5 border border-white"></div>
			<div class="flex justify-between w-4/5 p-4">
				<p>Defeats</p>
				<p>{{this.stats.defeats}}</p>
			</div>
			<div class="flex w-4/5 border border-white"></div>
			<div class="flex justify-between w-4/5 p-4">
				<p>Games Played</p>
				<p>{{this.stats.gamesPlayed}}</p>
			</div>
			<div class="flex w-4/5 border border-white"></div>
			<div class="flex justify-between w-4/5 p-4">
				<p>Ratio</p>
				<p>{{this.stats.ratio}}</p>
			</div>
			<div class="flex w-4/5 border border-white"></div>
			<div class="flex justify-between w-4/5 p-4">
				<p>Total Time Playing</p>
				<p>{{this.stats.totalTimePlaying | date}}</p>
			</div>
		</div>
	</div>	
</div>
