<div class="bg-yellow-400 p-2 rounded flex">
  <!-- Il y a pas de lien vers la photo. Il faudra se baser sur l'ID et mettre un condition pour
renvoyer noProfile le cas échéant -->
  <div *ngIf="!this.friend.id; else noProfile">
    <img
      alt="Profile Picture"
      class="w-12 h-12 object-fill shadow-md rounded-full hover:shadow-inner"
    />
  </div>
  <ng-template #noProfile>
    <i
      class="fa-solid fa-user w-auto h-auto shadow-md text-zinc-800 bg-gray-200 p-4 rounded-full hover:shadow-inner"
    ></i>
  </ng-template>
</div>
<div class="flex flex-col">
  <span class="font-semibold">{{ this.friend.username }}</span>
  <div class="flex items-center text-sm space-x-1">
    <span
      class="-mt-0.5"
      [ngClass]="{
        'text-green-600': this.friend.status === 'online',
        'text-red-600': this.friend.status === 'offline'
      }"
      >●</span
    >
    <span class="text-gray-800">{{ this.friend.status }} </span>
  </div>
</div>
