<app-header></app-header>
<div class="text-white pt-32">    
    <!-- player card vs player card -->
    <div class="flex items-center justify-center pb-20 pt-20">
        <div class="text-white text-8xl">
            <p>Game Over</p>
        </div>
    </div>

    <!-- score -->
    <div class="flex items-center justify-center text-white">
        <!-- Apply flex and items-center to ensure vertical centering -->
        <div class="flex items-center justify-center text-6xl w-32 text-center">
            <p>{{ gameData?.scoreLeftPlayer }}</p>
        </div>
        <div class="flex items-center text-6xl pl-6 pr-6 justify-center">
            <p>-</p>
        </div>
        <div class="flex items-center text-6xl justify-center w-32 text-center">
			<p>{{ gameData?.scoreRightPlayer }}</p>
        </div>
    </div>

    <!-- button to go to main menu -->
    <div class="flex justify-center m-8 pb-8">
        <button
            type="button"
            (click)="goToMainMenu()"
            class="rounded-full border-2 border-yellow-500 bg-yellow-500 text-2xl h-12 w-48 
            hover:bg-white hover:text-yellow-500 ease-in duration-300"
        >
            Main Menu
        </button>
    </div>
</div>
