<div>
	<!-- <app-header></app-header> -->
	<div class="text-white">
		<h1>CHATROOMS</h1>
	</div>
	<div>
		<button class="text-white" (click)="onCreateChatroom()">Create Chatroom</button>
	</div>
	<app-chatrooms></app-chatrooms>

	<app-modal [showModal]="showModal" (onClose)="closeModal()">
		<div class="flex flex-col justify-center items-center bg-white text-black">
		  <form [formGroup]="newChatroomForm" (ngSubmit)="triggerChatroomCreation()">
			<div class="mb-4">
			  <label class="block">Chatroom Name</label>
			  <input type="text" formControlName="chatroomName" class="w-full px-3 py-2 border rounded">
			</div>

			<div class="mb-4">
				<label class="block">Access Type</label>
				<select formControlName="accessStatus" class="w-full px-3 py-2 border rounded">
					<option value="">Select Access Type</option>
					<option value="public">Public</option>
					<option value="password protected">Password Protected</option>
				</select>
			</div>
		
			<div class="mb-4" *ngIf="newChatroomForm.get('accessStatus')?.value === 'password protected'">
				<label class="block">Access Password</label>
				<input type="password" formControlName="accessPassword" class="w-full px-3 py-2 border rounded">
			</div>

			<div class="mb-4" *ngIf="newChatroomForm.get('accessStatus')?.value === 'password protected'">
				<label class="block">Retype Password</label>
				<input type="password" formControlName="accessPasswordVerif" class="w-full px-3 py-2 border rounded">
			</div>
			
			<button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">Create New Chatroom</button>
		  </form>
		</div>
  </app-modal>
</div>
