<div
  class="flex items-center space-x-4 rounded text-black bg-gray-200 transition duration-75 cursor-pointer"
>
  <div
    class="bg-[#ffc93b] p-2 rounded-l flex items-center justify-center"
    id="joinChatRoom"
  >
    <i
      class="fa-solid fa-table-tennis-paddle-ball h-16 w-16 shadow-md text-zinc-800 bg-gray-200 p-4 rounded-full hover:shadow-inner flex items-center justify-center text-2xl"
    ></i>
  </div>
  <div class="w-full flex justify-between items-center px-8">
    <div class="flex flex-col">
      <span class="text-lg font-semibold">{{ gameCard.playerOne }}</span>
      <button class="text-sm underline">See Stats</button>
      <!-- Go to profile -->
    </div>
    <span>VS</span>
    <div class="flex flex-col">
      <span class="text-lg font-semibold">{{ gameCard.playerTwo }}</span>
      <button class="text-sm underline">See Stats</button>
    </div>
  </div>
</div>
