<div class="max-w-3xl inline-flex items-center w-full">
  <hr class="w-screen m-8" />
  <span class="absolute px-3 font-medium bg-black -translate-x-1/2 left-1/2"
    >FRIENDS</span
  >
</div>

<div
  *ngIf="friends$ | async as friends"
  class="grid lg:grid-cols-2 grid-col-1 gap-4 lg:w-full w-5/6 mx-auto"
>
  <li
    *ngFor="let friend of friends"
    class="flex flex-row w-full items-center space-x-4 rounded text-black bg-gray-200 hover:scale-[102%] transition duration-75 cursor-pointer"
  >
    <app-friend
      *ngFor="let friendCard of friends"
      [friend]="friendCard"
      class="flex flex-row w-full space-x-4 items-center"
    ></app-friend>
  </li>
</div>

<!-- <ul class="grid lg:grid-cols-2 grid-col-1 gap-4 lg:w-full w-5/6 mx-auto"></ul> -->
